.content-area-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 346px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 100%;
  }

  .area-card {
    height: 337px;
    background-color: var(--chart-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 16px 16px 16px 16px;
    justify-content: space-between;
    box-shadow: var(--light-shadow1);
    width: 100%;

    @media (max-width: 768px) {
      padding: 12px;
    }

    .info-title {
      color: var(--light-color);
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: bold;
    }

    .info-value {
      color: var(--side-text-color);
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 8px;
    }

    .info-text {
      color: var(--base-text-color);
      font-weight: 500;
    }
  }
}

// recharts customização
.recharts-default-tooltip {
  color: var(--fourth-color) !important;
  padding: 4px 8px !important;
  box-shadow: rgba(143, 44, 44, 0.07) 0px 4px 12px;
  border-radius: 4px;
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--border-color-inverted) !important;
}

.recharts-tooltip-item-list {
  * {
    color: var(--fourth-color) !important;
    font-size: 14px;
    font-family: inherit !important;
    opacity: 0.9;
  }
}