.text-button {
  color: var(--chart-secondary-color);
}

.custom-header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-color);
}

.edit-button {
  color: var(--logo-color);
}
.limpar-button {
  color: var(--logo-color);
  margin-left: 10px;
}
.inputs-filtros{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  width: 360px;
  gap: 1px;
  //margin-top: 20px; 
}

.inputs-selection{
  margin-left: 0px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 45px;
  background: var(--chart-secondary-color);
  box-shadow: var(--light-shadow1);
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 10px;
}
.filtro-button {
  color: var(--logo-color);
  margin-top: 22px;
  margin-left: 10px;
}
.inputs-filtro{
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 20px; 
}

.input-filtro{
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 45px;
  background: var(--input-filtro);
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.input-filtro img{
  margin: 0px 10px;
}

.input-filtro input{
  height: 30px;
  width: 310px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 10px;
}

//profile view button
.viewButton{
  padding: 0px 10px;
  color: var(--logo-color);
  cursor: pointer;
}

.sx-box {
  height: 600;
  width: 100%;

  .sx-data-grid {
    background-color: var(--chart-secondary-color);
    border-radius: 1%;
    border-color: var(--background-color);
    color: var(--side-text-color3);
  }

  .sx-data-grid .MuiDataGrid-filler {
    border-bottom: 1px solid var(--background-color);
    background-color: var(--chart-secondary-color);
  }

  .sx-data-grid .MuiDataGrid-row--editing .MuiDataGrid-cell {
    background-color: var(--chart-secondary-color);
  }

  //container header
  .MuiDataGrid-toolbarContainer {
    background-color: var(--background-color);
  }
  //container footer
  .MuiDataGrid-footerContainer {
    background-color: var(--background-color);
  }

  .MuiInputBase-input {
    color: var(--side-text-color4);
  }

  .MuiTablePagination-displayedRows {
    color: var(--logo-color);
  }

  .MuiTablePagination-actions .MuiIconButton-root {
    color: var(--logo-color);
  }
}

.area-top-title {
  color: var(--side-text-color);
  margin-bottom: 20px;
}

.super-app-theme--header {
  background-color: var(--chart-secondary-color);
}