.content-area-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  
    .area-top-title {
      color: var(--light-color);
    }
  
    .area-top-l {
      display: flex;
      align-items: center;
      column-gap: 6px;
    }
    
    .rdrDateDisplayWrapper {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        outline: var(--secondary-color);
  
        * {
          background-color: var(--secondary-color);
          border-color: var(--secondary-color);
          outline: var(--secondary-color);
          box-shadow: none;
          color: var(--base-text-color);
        }
    }

  
  }