.content-area-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  height: 337px;

  .area-top-title {
    color: var(--light-color);
    background-color: var(--secondary-color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0px;
  }

  .rdrDateRangeWrapper{
    height: 308px;
  }

  .area-top-l {
    display: flex;
    align-items: center;
  }
 
  .content-area-top,.area-top-r,.area-top-l,.custom-date-range,.rdrDateDisplayWrapper,.rdrDateRangeWrapper,.rdrMonth{
    width: 100%;
  }
  
  /*
  @media (max-width: 576px) {
    width: 100%;
  }
  */

  @media (max-width: 845px) {
    width: 100%;
  }
  .custom-date-range .rdrDateRangeWrapper {
    background-color: var(--secondary-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #ffffff; //cor do texto do mês
  }

  .rdrDateDisplayWrapper {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    outline: var(--secondary-color);
    border-radius: 6px;

    * {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
      outline: var(--secondary-color);
      box-shadow: none;
      color: #ffffff;
    }
  }
}