// google fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  
  --blue-color: #475be8;
  --green-color: #4ce13f;
  --orange-color: #f29a2e;
  --red-color: #ef0606;
  --dark-color: #292929;
  --light-color: #F3F5F7;
  
  --font-family-lato: "Lato", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;
  
  //transição
  --default-transition: all 300ms ease-in-out;
  
  // chart
  --chart-primary-color: #475be8;
  --chart-secondary-color: #e6e6e6;
  
  // box shadow
  --light-shadow1: rgba(0, 0, 0, 0.02) 0px 4px 12px;

  //variáveis 
  --primary-color: #3E90F0;
  --secondary-color: #0A0C0C;
  --background-color: #171821;
  --side-link-hover-color: #4c6786;
  --side-text-color: #F3F5F7;
  --bar-fill-color:#dd6cd0;
  --logo-color: var(--primary-color);
  --xl-text-color: #292929;
  --lg-text-color: #525252;
  --base-text-color: #676767;
  --text-color-inverted: #292929;
  --bg-color-inverted: #ffffff;
  --border-color-inverted: #f6f6f6;
  --toggle-btn-border-color: #f3f3f3;
  --toggle-btn-bg-color: #fff;
  --toggle-btn-icon-color: var(--primary-color);
  --thead-bg-color: #f2f4ff;
  --tbl-border-color: #f2f4ff;
  --scroll-track-bg-color: #0f1212;
  --scroll-thumb-bg-color: #171821;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: var(--font-family-lato);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.page-wrapper {
  background-color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 50px 58px;
  margin-left: 260px;

  @media (max-width: 1400px) {
    padding: 32px;
  }

  @media (max-width: 1200px) {
    margin-left: 56px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 24px;
  }

  @media (max-width: 576px) {
    margin-left: 0;
    padding: 16px;
  }
}

.content-area {
  & > section {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}