.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background-color: var(--secondary-color);
  padding: 20px 14px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: var(--default-transition);
  overflow-y: scroll;

  //barra de rolagem
  &::-webkit-scrollbar {
    width: 9px;
  }
  //cor barra de rolagem
  &::-webkit-scrollbar-track {
    background-color: var(--scroll-track-bg-color);
  }
  //borda da barra de rolagem
  &::-webkit-scrollbar-thumb {
    border-radius: 100vh !important;
    background-color: var(--scroll-thumb-bg-color);
    outline: 1px solid rgba(0, 0, 0, 0.05);
    outline-offset: -1px;
  }

  //responsividade
  &.sidebar-show {
    @media (max-width: 768px) {
      transform: translate(0);
    }
  }
  @media (max-width: 1200px) {
      width: auto;
      padding: 20px 6px;
    }
  //sidebar some em telas menores
  @media (max-width: 768px) {
        width: 260px;
        transform: translateX(-100%);
  }

  .sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-color-inverted);
  }

  //parte de cima (menu)
  .sidebar-brand {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .sidebar-brand-text {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--logo-color);
    margin-bottom: 8px;

    @media (max-width: 1200px) {
        .sidebar-brand-text{
            display: none;
        }
    }

    @media (max-width: 768px) {
        .sidebar-brand-text{
            display: inline-block;
        }
    }
  }

  //botão de fechar sidebar
  /*.sidebar-close-btn {
    background-color: var(--togle-btn-bg-color);
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--togle-btn-icon-color);
    border-radius: 2px;
    transition: var(--default-transition);
    display: none;

    @media (max-width: 1200px) {
      display: inline-flex;
    }

    &:hover {
      opacity: 0.8;
    }
  }*/

  //páginas do menu
  .menu-item {
    margin-bottom: 8px;

    //menu 2 - parte do settings e logout
    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  //página selecionada
  .menu-link {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 11px;
    padding: 12px;
    border-radius: 12px;
    color: var(--side-text-color);
    transition: var(--default-transition);

    @media (max-width: 768px) {
      padding: 2px;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }

    @media (max-width: 768px) {
      padding: 12px;
      border-radius: 12px;
      width: 100%;
      height: 42px;
      justify-content: flex-start;
    }

    //para selecionar
    &:hover{
        background-color: var(--side-link-hover-color);
    }

    &.active{
        background-color: var(--primary-color);
        color: var(--light-color);
        box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
    }
  }

  .menu-link-icon{
    display: flex;
    align-content: center;
  }

  .menu-link-text{
    font-family: var(--font-family-manrope);
    font-weight: 500;

    @media(max-width: 1200px){
      display: none;
    }
    @media(max-width: 768px){
      display: inline-block;
    }
  }

  .sidebar-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-menu2{
    margin-top: auto;
  }
}
