.content-area-charts {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 992px) {
    grid-template-columns: 100%;
  }
}

.content-area-charts {
  display: flex;
  justify-content: space-between;
}
.line-chart{
  height: 337px;
}
.chart-container {
  display: flex;
  gap: 16px;
}

// eixo y do gráfico
.recharts-yAxis {
  font-size: 14px; 
}

// bar chart
.bar-chart {
  height: 337px;
  background-color: var(--chart-secondary-color);
  padding: 16px 16px 16px 16px;
  border-radius: 5px;
  box-shadow: var(--light-shadow1);
  position: relative;

  @media (max-width: 768px) {
    padding: 12px;
  }

  .bar-chart-wrapper {
    width: 100%;
    height: 210px;

    // recharts customização
    .recharts-wrapper {
      @media (max-width: 1400px) {
        margin-left: 10px;
      };
    };
  }

  .bar-chart-info {
    margin-bottom: 32px;

  }

  .bar-chart-title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-color);
  }

  .chart-info-data {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .info-data-value {
    color: var(--side-text-color);
    font-size: 24px;
    font-weight: 700;
  }

  .info-data-text {
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: var(--green-color);
  }

  // cutomização of recharts - bar chart
  .recharts-default-legend {
    color: white !important;
    position: absolute;
    top: -90px;
    right: 0;
  }
  .recharts-tooltip-label {
    color: white !important;
    font-size: 14px;
    font-weight: 600;
  }
}

// progress chart
.progress-bar {
  padding: 16px;
  border-radius: 5px;
  box-shadow: var(--light-shadow1);
  background: var(--chart-secondary-color);

  @media (max-width: 768px) {
    padding: 12px;
  }

  .progress-bar-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--light-color);
    margin-bottom: 16px;
  }
  .bar-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6px;
    margin-bottom: 8px;

    .bar-item-info-name,
    .bar-item-info-value {
      color: var(--side-text-color);
      font-weight: 600;
    }
  }
  .progress-bar-list {
    display: grid;
    row-gap: 20px;
    max-height: 265px;
    overflow-y: auto; 
    padding-right: 10px; 
    margin-right: -10px; 
  }

  /* Estilos para a barra de rolagem */
  .progress-bar-list::-webkit-scrollbar {
    width: 10px; 
  }

  /* Estilos para o indicador da barra de rolagem */
  .progress-bar-list::-webkit-scrollbar-thumb {
    background-color: #444; 
    border-radius: 5px; 
  }

  /* Estilos para a trilha da barra de rolagem */
  .progress-bar-list::-webkit-scrollbar-track {
    background-color: #333; 
  }


  .bar-item-full {
    width: 100%;
    height: 10px;
    border-radius: 100vh;
    background-color: var(--secondary-color);
    position: relative;
  }

  .bar-item-filled {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 100vh;
    background-color: var(--bar-fill-color);
  }
}

// line chart - vendas por vendedor
.line-chart {
  background-color: var(--chart-secondary-color);
  padding: 16px 16px 6px 16px;
  border-radius: 5px;
  box-shadow: var(--light-shadow1);
  position: relative;

  @media (max-width: 768px) {
    padding: 12px;
  }

  .line-chart-wrapper {
    width: 100%;
    height: 250px;

    // recharts customização
    .recharts-wrapper {
      @media (max-width: 1400px) {
        margin-left: -10px;
      }
    }
  }

  .line-chart-info {
    margin-bottom: 30px;
  }

  .line-chart-title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-color);
  }

  .chart-info-data {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .info-data-value {
    color: var(--side-text-color);
    font-size: 24px;
    font-weight: 700;
  }

  .info-data-text {
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: var(--green-color);
  }

  // cutomização of recharts - line chart
  .recharts-default-legend {
    position: absolute;
    right: 0;
  }
  .recharts-tooltip-label {
    color: white !important;
    font-size: 14px;
    font-weight: 600;
  }
}