body{
    background: var(--background-color);
}

.error-message {
    color: var(--fourth-color); 
    font-size: 14px; 
    margin-top: 15px; 
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    align-items: center;
    background-color: var(--chart-secondary-color);
    box-shadow: var(--light-shadow1);
    width: 400px;
    border-radius: 15px;

.title-label {
    color: var(--page-cadastro-titulo);
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-family-manrope);
}


.inputs{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 20px; 
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: var(--page-cadastro);
    border-radius: 10px;
    margin-bottom: 15px;
}

.input img{
    margin: 0px 10px;
}

.input .eye-icon img {
    margin: 0px 10px;
    border: none; /* Remove a borda se estiver presente */
    width: 27px;
    height: 27px;
    padding-top: 5px;
}

.input input{
    height: 30px;
    width: 400px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.submit-container{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.submit{
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 170px;
    height: 40px;
    background: var(--page-cadastro);
    color: var(--background-color);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 9px;
    background-color: #22458b;
    color: white;
    margin-right: 10px;
  }
}

.submit:hover{
    background: var(--page-cadastro-hover);
    color: var(--page-cadastro-hover-text);
    font-weight: bold;
    padding: 6px;
    border: solid;
    border-color: var(--page-cadastro-hover-border);
}

.gray{
    background: var(--page-cadastro);
    color: var(--background-color);
    font-weight: bold;
}

  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  
  .error-message {
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .success-message {
    color: white;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

.input select {
    height: 30px;
    width: 400px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 5px; /* Reduzido para manter o tamanho do seletor alinhado com outros campos */
    -webkit-appearance: none; /* Remove a aparência padrão do seletor */
    -moz-appearance: none;
    appearance: none;
    background-size: 20px; /* Tamanho da imagem da seta */
    padding-right: 30px; /* Espaçamento para acomodar a imagem da seta */
    color: #555; /* Cor do texto */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar o mouse */
  }
  
  .input select option {
    background-color: #eaeaea; /* Cor de fundo das opções */
    color: #555; /* Cor do texto das opções */
  }
  
  .input select:focus {
    outline: none; /* Remove o contorno ao focar */
  }
  
