body{
    background: #171821;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    align-items: center;

.title-label {
    color: #eaeaea;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--font-family-manrope);

}



.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px; 

}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 60px;
    background: #eaeaea;
    border-radius: 10px;

}

.input img{
    margin: -4px 10px 0px 10px;
}

.input input{
    height: 30px;
    width: 400px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
}
.submit-container{
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

.submit{
    align-items: center;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    background: #eaeaea;
    color: #171821;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.submit:hover{
    background: #525252;
    color:#eaeaea;
    font-weight: bold;
}

.gray{
    background: #eaeaea;
    color:#171821;
    font-weight: bold;
}

}